.card {
    margin-bottom: rem(32);

     &__img {
        overflow: hidden;
        display: block;
        margin-bottom: rem(16);

        img {
            @extend %primary-transition;
        }

        &:hover {
            img {
                transform: scale(1.02) rotate(1deg);
            }
        }
     }

     &__caption {
        display: grid;
        gap: rem(16);
     }
}

@media (min-width: 768px) {
    .card {
        margin-bottom: rem(48);
        height: calc(100% - 48px);
    }
}