@import "../utils/_mixins";

%flex {
    display: flex;
}

%align-middle {
    align-items: center;
}

%align-top {
    align-items: flex-start;
}

%align-bottom {
    align-items: flex-end;
}

%align-stretch {
    align-items: stretch;
}

%align-between {
    justify-content: space-between;
}

%align-around {
    justify-content: space-around;
}

%align-center {
    justify-content: center;
}

%align-left {
    justify-content: flex-start;
}

%align-right {
    justify-content: flex-end;
}

%justify-stretch {
    justify-content: stretch;
}

%primary-transition {
    -webkit-transition: all 0.2s $transitionTiming;
    -moz-transition: all 0.2s $transitionTiming;
    transition: all 0.2s $transitionTiming;
}

%user-cursor {
    user-select: none;
    cursor: pointer;
}

%not-selectible {
    user-select: none;
    pointer-events: none;
}

%inline-middle {
    display:inline-block;
    vertical-align: middle;
}

%hidden {
    visibility: hidden;
    opacity:0;
}

%show {
    visibility: visible;
    opacity: 1;
}