$color-grey: #929292;
$color-grey--80: #9B9B9B;
$color-grey--60: #969696;
$color-grey--40: #D7D7D7;
$color-grey--20: #E9E9E9;

$color-red: #EB0028;

$color-black: #000000;

$color-main: $color-grey;

$transitionTiming: cubic-bezier(0.645, 0.045, 0.355, 1);
$transitionTimingSmooth: cubic-bezier(.77,0,.175,1);

$fontRoboto: 'Roboto';
$baseFontFamily: $fontRoboto, Arial, sans-serif;
$baseFontSize : 16;

$media-xxxl: 1600px;
$media-xxl: 1440px;
$media-xl: 1366px;
$media-lg: 1280px;
$media-md: 1024px;
$media-sm: 767px;

$gridBreakpoints: (
        'small' 0,
        'medium' 600px,
        'large' 1024px,
        'x-large' 1280px,
        'xx-large' 1440px,
);

$rowWidth: 1270px;
$columnSpace: 20px;
$columnsSize: 12;