$colors:  (
    'danger' $color-danger,
    'grey' $color-grey,
    'grey-80' $color-grey--80,
    white white,
    black black,
    inherit inherit,
);

$bg-colors:  (
    white white,
    black black,
    inherit inherit,
);

@each $type in $colors {
  .color-#{nth($type, 1)} {
    color: #{nth($type, 2)};
  }
}

@each $type in $bg-colors {
  .bg-#{nth($type, 1)} {
    background-color: #{nth($type, 2)};
  }
}


.fluid-x {
  width: 100%;
}

.fluid-y {
  height: 100%;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.relative {
  position: relative;
}

.disabled {
  cursor: not-allowed;
  user-select: none;
}

.color-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .color-gradient {
    background: transparent !important;
    background-image: inherit !important;
    color: $color-main;
  }

  .color-green--gradient {
    color: $color-main;
  }
}

.hide {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.clip {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  // IE9+ CSS
  .max-line-4{
    max-height: 100px;
  }
}

.z-first {
  z-index: 1;
}

@media (min-width: 10px) {
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: block;

    &.flex-container {
      display: flex;
    }
  }
}

@media (min-width: 600px) {
  .hide-md {
    display: none;
  }

  .show-md {
    display: block;

    &.flex-container, &.medium-flex-container {
      display: flex;
    }
  }
}

@media (min-width: $media-md) {
  .hide-lg {
    display: none;
  }

  .show-lg {
    display: block;

    &.flex-container, &.large-flex-container {
      display: flex;
    }
  }
}

@media (min-width: $media-lg) {
  .hide-xl {
    display: none;
  }

  .show-xl {
    display: block;

    &.flex-container, &.large-flex-container {
      display: flex;
    }
  }
}