.custom-headline {
  h1, h2, h3, h4, h5, h6 {
    margin: initial;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

$text-sizes: ( 12, 13, 14, 24 );

$line-height-sizes: ( 125, 143 );

.text {
  @include font(normal, 16, 1, 0, 0);

  @each $type in $text-sizes {
    &-#{nth($type, 1)} {
      font-size: #{nth($type, 1)}px;
    }
  }
}

.text-height {
  @each $type in $line-height-sizes {
    &-#{nth($type, 1)} {
      line-height: nth($type, 1)*1%;
    }
  }
}

.font-italic {
  font-style: italic;
}

.font-black {
  font-weight: 900;
}

.font-extrabold {
  font-weight: 800;
}

.font-bold {
  font-weight: bold;
}

.font-demibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.font-extralight {
  font-weight: 200;
}

.font-thin {
  font-weight: 100;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-capitalize {
  text-transform: capitalize;
}

.font-italic {
  font-style: italic;
}

.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.max-line-3 {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.max-line-4 {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}