<header class="header text-center">
    <div class="row align-middle">
        <div class="column small-12 relative">
            <div class="relative">
                <div class="hide-lg show-md nav-open">
                    <img src="img/burger.svg" alt="burger">
                </div>
                <a href="/" class="header-logo">
                    <picture>
                        <source media="(min-width:600px)" srcset="img/logo.svg">
                        <img src="img/logo-sm.svg" alt="Logotype">
                    </picture>
                </a>
                <div class="search-open cursor-pointer">
                    <img src="img/search.svg" alt="search">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="nav-wrapper">
    <div class="nav-wrapper-inner">
        <div class="nav-wrapper-header flex-container align-justify align-middle hide-lg show-md">
            <div class="nav-logo">
                <img src="img/logo-sm.svg" alt="Logotype">
            </div>
            <div class="nav-close">
                <img src="img/close.svg" alt="Close">
            </div>
        </div>
        <nav class="main-nav large-flex-container align-center align-middle">
            <div class="nav-section relative">
                <div class="nav-link has-sub">
                    <div class="prim-nav-link cursor-pointer font-medium color-black flex-container align-middle">
                        Demos
                        <img src="img/chevron-down.svg" alt="Arrow">
                    </div>
        
                    <ul class="sub-menu sub-menu-primary">
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Post Header
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Post Layout
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Share Buttons
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link color-black">
                                    <a href="#" class="sub-nav-btn cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Gallery Post
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Video Post
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-section relative">
                <div class="nav-link has-sub">
                    <div class="prim-nav-link cursor-pointer font-medium color-black flex-container align-middle">
                        Post
                        <img src="img/chevron-down.svg" alt="Arrow">
                    </div>
        
                    <ul class="sub-menu sub-menu-primary">
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Post Header
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Post Layout
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Share Buttons
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link color-black">
                                    <a href="#" class="sub-nav-btn cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Gallery Post
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Video Post
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-section relative">
                <div class="nav-link has-sub">
                    <div class="prim-nav-link cursor-pointer font-medium color-black flex-container align-middle">
                        Features
                        <img src="img/chevron-down.svg" alt="Arrow">
                    </div>
        
                    <ul class="sub-menu sub-menu-primary">
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Post Header
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-section relative">
                <div class="nav-link has-sub">
                    <div class="prim-nav-link cursor-pointer font-medium color-black flex-container align-middle">
                        Categories
                        <img src="img/chevron-down.svg" alt="Arrow">
                    </div>
        
                    <ul class="sub-menu sub-menu-primary">
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Post Header
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-section relative">
                <div class="nav-link has-sub">
                    <div class="prim-nav-link cursor-pointer font-medium color-black flex-container align-middle">
                        Shop
                        <img src="img/chevron-down.svg" alt="Arrow">
                    </div>
        
                    <ul class="sub-menu sub-menu-primary">
                        <li>
                            <div class="nav-link relative">
                                <div class="sub-nav-link has-sub color-black">
                                    <div class="sub-nav-btn sub-inherit cursor-pointer font-medium color-inherit flex-container align-middle large-align-justify">
                                        Post Header
                                        <picture>
                                            <source media="(min-width:1025px)" srcset="img/chevron-right.svg">
                                            <img src="img/chevron-down.svg" alt="Arrow">
                                        </picture>
                                    </div>
        
                                    <ul class="sub-menu sub-menu-secondary">
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link cursor-pointer font-medium color-black has-sub flex-container align-middle">
                                                Link 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-section relative">
                <div class="nav-link">
                    <a href="#" class="prim-nav-link cursor-pointer font-medium color-black flex-container align-middle">
                        Buy Now
                    </a>
                </div>
            </div>
        </nav> 
    </div>
</div>