<div class="row listing" id="listing"></div>

<script>
    const list = [
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/stylish-man.jpg',
            category: 'Lifestyle',
            title: 'Eat Right For Your Exercise Regime',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        },
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/man-at-cactus.png',
            category: 'Lifestyle',
            title: 'The Look: Perfect Balance',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        },
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/stylish-girl.jpg',
            category: 'Style',
            title: 'Fun Things to Do in Rome',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        },
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/man-in-bar.jpg',
            category: 'Style',
            title: '24 Colorful Ceilings That Add Unexpected Contrast to Any Room',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        },
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/festival.jpg',
            category: 'Lifestyle',
            title: '9 New Songs to Heat Up Your Fall Playlist',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        },
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/night-lights.jpg',
            category: 'Events',
            title: 'What You Need on Your Bedside Table',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        },
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/friends.jpg',
            category: 'Travel',
            title: 'When Two Wheels Are Better Than Four',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        },
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/travel.jpg',
            category: 'Travel',
            title: '26 Living Room Ideas from the Homes of Top Designers',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        },
        {
            href: '#',
            img: 'img/stylish-man-sm.jpg',
            srcset: 'img/unique-club.jpg',
            category: 'Music',
            title: 'What Makes Your City’s Style Unique',
            author: 'Niek Bove',
            date: 'April 8, 2018',
            views: '3K Views',
            description: `${'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button' +
                    'Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail.'+
                    'Warmth comfort hangs loosely from the body large pocket at the front full button'}`                        
        }
    ];

    list.map(item => {
        const cardNode = document.createElement('div');
        cardNode.classList.add('column', 'small-12', 'medium-6', 'large-4');
        
        cardNode.innerHTML =  `<div class="card">` +
                                `<a href="${item.href}" class="card__img">` +
                                    `<picture>` +
                                        `<source media="(min-width:600px)" srcset="${item.srcset}">` +
                                        `<img src="${item.img}" alt="Stylish" class="fluid-x">` +
                                    `</picture>` +
                                `</a>` +
                                    `<div class="card__caption">` +
                                        `<div class="card_category color-danger font-bold text-13">` + 
                                            item.category +
                                        `</div>` +
                                        `<div class="card_title color-black font-bold max-line-3 text-24 text-height-125">` +
                                            item.title +
                                        `</div>` +
                                        `<ul class="pointed text-12">` +
                                            `<li class="font-medium color-black">` +
                                                item.author +
                                            `</li>` +
                                            `<li class="color-grey-80">` +
                                                item.date +
                                            `</li>` +
                                            `<li class="color-grey-80">` +
                                                item.views +
                                            `</li>` +
                                        `</ul>` +
                                        `<div class="card_desc color-grey max-line-4 text-14 text-height-143">` +
                                            item.description +
                                        `</div>` +
                                    `</div>` +
                                `</div>`;

        
        document.getElementById('listing').appendChild(cardNode);
    })
</script>